@page
@model MyBudgetPal.Pages.RecurringExpensesModel
@{
}

<style type="text/css">
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }
</style>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1 class="display-4">Recurring Expenses</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            <p class="lead">View all of your recurring expenses and add any new ones, all in one place.</p>
        </div>
    </div>
</div>

<hr />
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <table id="expenseTable" class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th class="th-sm">
                            Expense
                        </th>
                        <th class="th-sm">
                            Cost ($)
                        </th>
                        <th class="th-sm">
                            Frequency (days)
                        </th>
                        <th class="th-sm">
                            Delete
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Phone bill</td>
                        <td>85</td>
                        <td>30</td>
                        <td><button class="btn small btn-danger delete"><i class="fa fa-times"></i></button></td>
                    </tr>
                    <tr>
                        <td>Car insurance</td>
                        <td>120</td>
                        <td>30</td>
                        <td><button class="btn small btn-danger delete"><i class="fa fa-times"></i></button></td>
                    </tr>
                    <tr>
                        <td>Gas</td>
                        <td>50</td>
                        <td>14</td>
                        <td><button class="btn small btn-danger delete"><i class="fa fa-times"></i></button></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<hr />

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <h1 class="display-4">Quick add a new recurring expense</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            <p class="lead">Add a new recurring expense quickly and easily below.</p>
        </div>
    </div>
    <form class="needs-validation" novalidate>
        <div class="row">
            <div class="form-row">
                <div class="input-group col-md-4 mx-auto">

                    <div class="input-group-prepend">
                        <div class="input-group-text">Expense</div>
                    </div>
                    <input type="text" placeholder="Food" id="validationExpense" class="form-control form-control-lg" required />

                </div>
                <div class="input-group col-md-4 mx-auto">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Cost ($)</div>
                    </div>
                    <input type="number" class="form-control form-control-lg" id="validationCost" placeholder="15" required>
                </div>

                <div class="input-group col-md-4 mx-auto">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Frequency (days)</div>
                    </div>
                    <input type="number" class="form-control form-control-lg" id="validationFrequency" placeholder="30" required>
                </div>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="form-group col-md-12 mx-auto text-center">
                <button id="btnNextStep3" class="btn btn-success btn-lg">Add expense and save</button>
            </div>
        </div>
    </form>

</div>

<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Successfuly Saved</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid alert alert-success" id="successContainer">
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <label id="successMsg" class="font-weight-bold" style="color: darkgreen;">Changes made successfully saved!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete confirmation</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid alert alert-danger" id="successContainer">
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <label id="successMsg" class="font-weight-bold" style="color: darkred;">Are you sure you would like to delete this expense?</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <label id="successMsg" style="color: darkred;">This action is permanent and cannot be undone.</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <button class="btn btn-danger" onclick="$('#deleteModal').modal('hide');">Yes, delete this expense</button>
                            <button class="btn btn-outline-danger" onclick="$('#deleteModal').modal('hide');">No, keep it</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $(".delete").on('click', function (event) {
            event.stopPropagation();
            event.stopImmediatePropagation();
            $("#deleteModal").modal("show");
        });

        $(function () {
            var oTable = $('#expenseTable').DataTable({

                "oLanguage": {
                    "sSearch": "Quick find a recurring expense:"
                },
                "scrollY": "350px",
                "scrollCollapse": true,

                fixedHeader: {
                    header: true, //Table have header and footer
                    footer: true
                },
                paging: false,
                autoFill: true, // Autofills fields by dragging the blue dot at the bottom right of cells
                responsive: true, //  Resize table
                rowReorder: true, // Row can be reordered by dragging
                select: true, // selecting rows, cells or columns
                colReorder: true // Reorders columns
            });

        });

    });

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        event.stopPropagation();
                        var t = $('#expenseTable').DataTable();

                        var expense = document.getElementById('validationExpense').value;
                        var cost = document.getElementById('validationCost').value;
                        var date = document.getElementById('validationFrequency').value;
                        t.row.add([expense, cost, date, "<td><button class='btn small btn-danger delete'><i class='fa fa-times'></i></button></td>"]).draw(false);
                        clearForm();

                        $('#successModal').modal('show');
                        setTimeout(function () {
                            $('#successModal').modal('hide');
                        }, 2000);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function clearForm() {
        document.getElementById('validationExpense').value = "";
        document.getElementById('validationCost').value = "";
        document.getElementById('validationFrequency').value = "";
    }
</script>