@page
@model MyBudgetPal.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}

<div class="container-fluid text-center">
	<img src="~/logo.png" />
</div>

<div class="container-fluid position-relative">
	<br />
	<div class="card">
		<br />
        <div class="container-fluid text-center">
            <div class="form-row">
                <div class="form-group col-md-3 mx-auto text-center">
                    <a class="btn btn-primary" href="/Profile_Settings">Change Profile Settings</a>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-3 mx-auto text-center">
                    <a class="btn btn-primary" href="/BudgetPal_Settings">Change Budget Pal Settings</a>
                </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-3 mx-auto text-center">
                    <a class="btn btn-outline-primary" href="/Home">Go back</a>
                </div>
            </div>
        </div>
	</div>
</div>