@page
@model MyBudgetPal.Pages.UserCreatorModel
@{
}


<div class="container-fluid text-center">
    <img src="~/logo.png" />
</div>

<div class="container-fluid position-relative text-center">

    <div class="row">
        <div class="form-group col-md-12 mx-auto">
            <h3 class="display-4">
                Welcome to MyBudgetPal, {userFName}. <br />
                <small class="text-muted">Let's get you started.</small>
            </h3>
        </div>
    </div>

    <hr />

    <div class="container-fluid text-center" id="step1">

        <form class="needs-validation" novalidate>

            <div class="form-row">

                <div class="col-md">


                    <div class="form-row">
                        <div class="form-group col-md-12 mx-auto">
                            <label for="validationBudget" class="font-weight-bold col-form-label-lg">
                                What's your desired budget?
                            </label>
                            <p class="lead">
                                A budget is a set amount that will be used to cap your expenses to notify you if you're going over or staying under. <span class="small font-weight-bold">*</span>
                            </p>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="input-group col-md-3 mx-auto">
                            <div class="input-group-prepend">
                                <div class="input-group-text">$</div>
                            </div>
                            <input type="number" class="form-control form-control-lg" id="validationBudget" placeholder="500" required>
                        </div>
                    </div>

                    <br />

                    <div class="form-row">
                        <div class="form-group col-md-2 mx-auto text-center">
                            <button id="btnNextStep1" class="btn btn-primary btn-lg">Continue</button>
                        </div>
                    </div>

                </div>
            </div>

            <br />
        </form>
    </div>

    <div class="container-fluid" id="step2" style="display: none;">
        <div class="form-row">
            <div class="col-md">
                <div class="form-row">
                    <div class="form-group col-md-12 mx-auto">
                        <label for="validationBudget" class="font-weight-bold col-form-label-lg">
                            What's your preferred budget cycle?
                        </label>
                        <p class="lead">
                            A budget cycle is a period of time your budget will be tracked for. <span class="small font-weight-bold">*</span>
                        </p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="input-group col-md-3 mx-auto">
                        <select class="form-control form-control-lg" id="validationBudget" placeholder="Weekly" required>
                            <option>Weekly</option>
                            <option>Bi-weekly</option>
                            <option>Monthly</option>
                            <option disabled>Custom (Coming Soon)</option>
                        </select>
                    </div>
                </div>

                <br />

                <div class="form-row">
                    <div class="form-group col-md-2 mx-auto text-center">
                        <button id="btnNextStep2" onclick="showNextStep(3)" class="btn btn-primary btn-lg">Continue</button>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-2 mx-auto text-center">
                        <button id="btnBackStep2" class="small btn btn-outline-secondary" onclick="showNextStep(1)">Back</button>
                    </div>
                </div>

            </div>
        </div>

        <br />
    </div>

    <div class="container-fluid" id="step3" style="display: none;">
        <div class="form-row">
            <div class="col-md">
                <div class="form-row">
                    <div class="form-group col-md-12 mx-auto">
                        <label for="validationBudget" class="font-weight-bold col-form-label-lg">
                            If you have any recurring expenses, you can enter up to 3 below.
                        </label>
                        <p class="lead">
                            A recurring expense is an expense that is repeated after a certain amount of days. <span class="small font-weight-bold">*</span>
                        </p>
                    </div>
                </div>

                <div class="form-row">
                    <div class="input-group col-md-4 mx-auto">

                        <div class="input-group-prepend">
                            <div class="input-group-text">Expense</div>
                        </div>
                        <input type="text" placeholder="Phone bill" class="form-control form-control-lg" />

                    </div>
                    <div class="input-group col-md-4 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Cost ($)</div>
                        </div>
                        <input type="number" class="form-control form-control-lg" id="validationBudget" placeholder="500" required>
                    </div>

                    <div class="input-group col-md-4 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Repeated every x day(s)</div>
                        </div>
                        <input type="number" class="form-control form-control-lg" placeholder="30" required />
                    </div>

                </div>
                <br />
                <div class="form-row" style="display: none;" id="expense2">
                    <div class="input-group col-md-4 mx-auto">

                        <div class="input-group-prepend">
                            <div class="input-group-text">Expense</div>
                        </div>
                        <input type="text" placeholder="Phone bill" class="form-control form-control-lg" />

                    </div>
                    <div class="input-group col-md-4 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Cost ($)</div>
                        </div>
                        <input type="number" class="form-control form-control-lg" id="validationBudget2" placeholder="500" required>
                    </div>

                    <div class="input-group col-md-4 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Repeated every x day(s)</div>
                        </div>
                        <input type="number" class="form-control form-control-lg" placeholder="30" required />
                    </div>

                </div>

                <br />

                <div class="form-row" style="display: none;" id="expense3">
                    <div class="input-group col-md-4 mx-auto">

                        <div class="input-group-prepend">
                            <div class="input-group-text">Expense</div>
                        </div>
                        <input type="text" placeholder="Phone bill" class="form-control form-control-lg" />

                    </div>
                    <div class="input-group col-md-4 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Cost ($)</div>
                        </div>
                        <input type="number" class="form-control form-control-lg" id="validationBudget3" placeholder="500" required>
                    </div>

                    <div class="input-group col-md-4 mx-auto">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Repeated every x day(s)</div>
                        </div>
                        <input type="number" class="form-control form-control-lg" placeholder="30" required />
                    </div>
                </div>

                <br />

                <div class="form-row">
                    <div class="form-group col-md-12 mx-auto">
                        <button class="btn btn-outline-success rounded-circle" id="btnShowExpense"><i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <br />

                <div class="form-row">
                    <div class="form-group col-md-12 mx-auto text-center">
                        <button id="btnNextStep3" class="btn btn-primary btn-lg">Complete registration</button>
                    </div>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-2 mx-auto text-center">
                        <button id="btnBackStep3" class="small btn btn-outline-secondary" onclick="showNextStep(2)">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
</div>




<hr />

<div class="container-fluid text-center" id="container-instructions">
    <div class="form-row">
        <div class="form-group col-md-12 mx-auto text-center">
            <p class="small font-weight-bold">*  You can change this at any time in the settings menu.</p>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Registration Complete</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid alert alert-success" id="successContainer">
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <label id="successMsg" class="font-weight-bold" style="color: darkgreen;">Registration successfully completed!</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <label id="successMsg" style="margin: 0;">You will automatically be redirected to the next page in 3 seconds.</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <a href="/Home" class="small">Click here if you are not automatically redirected.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        $('#btnShowExpense').click(function () {
            if ($("#expense2").is(":visible")) {
                $("#expense3").show();
                $("#btnShowExpense").prop('disabled', true);
                $("#btnShowExpense").css('cursor', 'not-allowed');
            } else {
                $("#expense2").show();
            }
        });

        $('#btnNextStep3').click(function () {
            $('#successModal').modal('show');
            setTimeout(function () {
                window.location.href = "/Home";
            }, 3000);
        });
    });

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    } else {
                        event.preventDefault();
                        event.stopPropagation();
                        showNextStep(2);
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function showNextStep(num) {
        switch (num) {
            case 1:
                $('#step3').hide();
                $('#step2').hide();
                $("#step1").fadeIn(1200);
                break;
            case 2:
                $('#step1').hide();
                $('#step3').hide();
                $('#step2').fadeIn(1200);
                break;
            case 3:
                $('#step1').hide();
                $('#step2').hide();
                $('#step3').fadeIn(1200);
                break;
            default:
                break;
        }
    }
</script>
